# Shelly-Ann Duncan
# 11/12/22
# Queries - Sakila

In [ ]:
# add the ERD

![png](Data/ERD.png)

# Import necessary libraries

In [35]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [41]:
# create connection string using credentials
connection = f"mysql+pymysql://root:root@localhost/sakila"

In [42]:
# create engine
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

# Load data

In [45]:
q = """SHOW Tables;"""
pd.read_sql(q, engine)

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8                         film
9                   film_actor
10               film_category
11                   film_list
12                   film_text
13                   inventory
14                    language
15  nicer_but_slower_film_list
16                     payment
17                      rental
18      sales_by_film_category
19              sales_by_store
20                       staff
21                  staff_list
22                       store

# Queries

In [68]:
# get all the customers inside city_id = 312. 
# query should return the customers' first name, last name, email, address, and city.
q = """SELECT customer.first_name, customer.last_name,
    customer.email, address.address, city.city_id
    FROM customer 
    JOIN address
    JOIN city
    ON customer.address_id = address.address_id
    WHERE address.city_id = 312"""
pd.read_sql(q, engine)

,first_name,last_name,email,address,city_id
0,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,251
1,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,251
2,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,59
3,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,59
4,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,63
...,...,...,...,...,...
1195,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,280
1196,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,368
1197,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,368
1198,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,272
1199,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,272

In [61]:
# get all comedy films
# query should return film title, description, release year, rating, and special features
q1 = """SELECT film.title, film.description, film.release_year, film.rating, 
    film.special_features, category.name AS genre
    FROM film 
    JOIN film_category ON film.film_id = film_category.film_id
    JOIN category ON film_category.category_id = category.category_id 
    WHERE category.name = 'Comedy'"""
pd.read_sql(q1, engine)

,title,description,release_year,rating,special_features,genre
0,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,PG-13,"Trailers,Deleted Scenes",Comedy
1,ANTHEM LUKE,A Touching Panorama of a Waitress And a Woman ...,2006,PG-13,"Deleted Scenes,Behind the Scenes",Comedy
2,BRINGING HYSTERICAL,A Fateful Saga of a A Shark And a Technical Wr...,2006,PG,Trailers,Comedy
3,CAPER MOTIONS,A Fateful Saga of a Moose And a Car who must P...,2006,G,"Trailers,Commentaries,Deleted Scenes",Comedy
4,CAT CONEHEADS,A Fast-Paced Panorama of a Girl And a A Shark ...,2006,G,"Commentaries,Deleted Scenes",Comedy
5,CLOSER BANG,A Unbelieveable Panorama of a Frisbee And a Hu...,2006,R,"Trailers,Behind the Scenes",Comedy
6,CONNECTION MICROCOSMOS,A Fateful Documentary of a Crocodile And a Hus...,2006,G,"Deleted Scenes,Behind the Scenes",Comedy
7,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,G,Commentaries,Comedy
8,CRAZY HOME,A Fanciful Panorama of a Boy And a Woman who m...,2006,PG,"Commentaries,Deleted Scenes",Comedy
9,DADDY PITTSBURGH,A Epic Story of a A Shark And a Student who mu...,2006,G,"Deleted Scenes,Behind the Scenes",Comedy
10,DOOM DANCING,A Astounding Panorama of a Car And a Mad Scien...,2006,R,"Trailers,Commentaries",Comedy
11,DOWNHILL ENOUGH,A Emotional Tale of a Pastry Chef And a Forens...,2006,G,"Trailers,Commentaries,Deleted Scenes",Comedy
12,DYING MAKER,A Intrepid Tale of a Boat And a Monkey who mus...,2006,PG,Behind the Scenes,Comedy
13,ELEMENT FREDDY,A Awe-Inspiring Reflection of a Waitress And a...,2006,NC-17,"Commentaries,Behind the Scenes",Comedy
14,FERRIS MOTHER,A Touching Display of a Frisbee And a Frisbee ...,2006,PG,"Trailers,Deleted Scenes,Behind the Scenes",Comedy
15,FIREBALL PHILADELPHIA,A Amazing Yarn of a Dentist And a A Shark who ...,2006,PG,"Trailers,Commentaries,Behind the Scenes",Comedy
16,FLINTSTONES HAPPINESS,A Fateful Story of a Husband And a Moose who m...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
17,FRANKENSTEIN STRANGER,A Insightful Character Study of a Feminist And...,2006,NC-17,"Deleted Scenes,Behind the Scenes",Comedy
18,FREEDOM CLEOPATRA,A Emotional Reflection of a Dentist And a Mad ...,2006,PG-13,"Trailers,Commentaries,Behind the Scenes",Comedy
19,GOLD RIVER,A Taut Documentary of a Database Administrator...,2006,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
20,GROUNDHOG UNCUT,A Brilliant Panorama of a Astronaut And a Tech...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
21,GUNFIGHT MOON,A Epic Reflection of a Pastry Chef And a Explo...,2006,NC-17,"Deleted Scenes,Behind the Scenes",Comedy
22,HATE HANDICAP,A Intrepid Reflection of a Mad Scientist And a...,2006,PG,"Trailers,Commentaries,Behind the Scenes",Comedy
23,HEAVEN FREEDOM,A Intrepid Story of a Butler And a Car who mus...,2006,PG,Commentaries,Comedy
24,HEDWIG ALTER,A Action-Packed Yarn of a Womanizer And a Lumb...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes",Comedy
25,HURRICANE AFFAIR,A Lacklusture Epistle of a Database Administra...,2006,PG,"Trailers,Commentaries,Behind the Scenes",Comedy
26,HUSTLER PARTY,A Emotional Reflection of a Sumo Wrestler And ...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes",Comedy
27,JAWS HARRY,A Thrilling Display of a Database Administrato...,2006,G,Deleted Scenes,Comedy
28,KNOCK WARLOCK,A Unbelieveable Story of a Teacher And a Boat ...,2006,PG-13,Trailers,Comedy
29,LIFE TWISTED,A Thrilling Reflection of a Teacher And a Comp...,2006,NC-17,"Commentaries,Deleted Scenes",Comedy
30,LION UNCUT,A Intrepid Display of a Pastry Chef And a Cat ...,2006,PG,"Trailers,Deleted Scenes",Comedy
31,LONELY ELEPHANT,A Intrepid Story of a Student And a Dog who mu...,2006,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
32,MALLRATS UNITED,A Thrilling Yarn of a Waitress And a Dentist w...,2006,PG,"Trailers,Commentaries,Deleted Scenes",Comedy
33,MEMENTO ZOOLANDER,A Touching Epistle of a Squirrel And a Explore...,2006,NC-17,Behind the Scenes,Comedy
34,MULAN MOON,A Emotional Saga of a Womanizer And a Pioneer ...,2006,G,Behind the Scenes,Comedy
35,MYSTIC TRUMAN,A Epic Yarn of a Teacher And a Hunter who must...,2006,NC-17,"Commentaries,Behind the Scenes",Comedy
36,OPERATION OPERATION,A Intrepid Character Study of a Man And a Fris...,2006,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
37,PARADISE SABRINA,A Intrepid Yarn of a Car And a Moose who must ...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",Comedy
38,PARTY KNOCK,A Fateful Display of a Technical Writer And a ...,2006,PG,"Trailers,Behind the Scenes",Comedy
39,PERFECT GROOVE,A Thrilling Yarn of a Dog And a Dog who must B...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",Comedy
40,PINOCCHIO SIMON,A Action-Packed Reflection of a Mad Scientist ...,2006,PG,"Commentaries,Behind the Scenes",Comedy
41,PURE RUNNER,A Thoughtful Documentary of a Student And a Ma...,2006,NC-17,"Trailers,Deleted Scenes",Comedy
42,RUSHMORE MERMAID,A Boring Story of a Woman And a Moose who must...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes",Comedy
43,SADDLE ANTITRUST,A Stunning Epistle of a Feminist And a A Shark...,2006,PG-13,"Trailers,Deleted Scenes",Comedy
44,SATURN NAME,A Fateful Epistle of a Butler And a Boy who mu...,2006,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
45,SEARCHERS WAIT,A Fast-Paced Tale of a Car And a Mad Scientist...,2006,NC-17,"Trailers,Commentaries,Deleted Scenes,Behind th...",Comedy
46,SNATCH SLIPPER,A Insightful Panorama of a Woman And a Feminis...,2006,PG,Commentaries,Comedy
47,STAGE WORLD,A Lacklusture Panorama of a Woman And a Frisbe...,2006,PG,"Commentaries,Behind the Scenes",Comedy
48,STRICTLY SCARFACE,A Touching Reflection of a Crocodile And a Dog...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",Comedy
49,SUBMARINE BED,A Amazing Display of a Car And a Monkey who mu...,2006,R,Trailers,Comedy
50,SWEDEN SHINING,A Taut Documentary of a Car And a Robot who mu...,2006,PG,"Deleted Scenes,Behind the Scenes",Comedy
51,TRAINSPOTTING STRANGERS,A Fast-Paced Drama of a Pioneer And a Mad Cow ...,2006,PG-13,Trailers,Comedy
52,TRAMP OTHERS,A Brilliant Display of a Composer And a Cat wh...,2006,PG,Deleted Scenes,Comedy
53,VALLEY PACKER,A Astounding Documentary of a Astronaut And a ...,2006,G,"Commentaries,Deleted Scenes",Comedy
54,VELVET TERMINATOR,A Lacklusture Tale of a Pastry Chef And a Tech...,2006,R,Behind the Scenes,Comedy
55,VERTIGO NORTHWEST,A Unbelieveable Display of a Mad Scientist And...,2006,R,"Commentaries,Behind the Scenes",Comedy
56,WISDOM WORKER,A Unbelieveable Saga of a Forensic Psychologis...,2006,R,"Deleted Scenes,Behind the Scenes",Comedy
57,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes",Comedy

In [ ]:
# get all the films that Johnny Lollobrigida was in
# query should return the actor's last name, film title, and release year
q2 = """SELECT actor.last_name, film.title, film.release_year,
    FROM film
    JOIN last_name
    WHERE """

In [76]:
# all the actors in the movie titled "Bingo Talented"?
q3 = """SELECT *
    FROM 
    WHERE film = 'Bino Talented;'"""
pd.read_sql(q3, engine)

OperationalError: (pymysql.err.OperationalError) (1096, 'No tables used')
[SQL: SELECT *
    WHERE film = 'Bino Talented;']
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# get the customer_id associated with all payments greater than twice the average payment amount?
# HINT: use 2* in your query to get twice the amount
# result should include the customer id and the amount

In [ ]:
# list the first and last names of the 5 customers who have the highest number(count) of payments
# title the number of payments as num_payments.